.historia{
    text-align: center;
}
@import url('https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');
body{
    font-family: "Winky Sans", sans-serif;
    margin: 0;
    padding: 0;
    background-color:#F2D5F8 ;
    
}
nav a:hover{
    text-decoration: underline;
    transform: scale(1.5);
}
footer{
    text-align: center;
    background-color: #373F47;
    padding: 30px;
    margin-bottom: -15px;
}
footer p{
    color: white;
}
header{
    background-color: #808F87;
    margin: 0;
    padding: 15px;
}

nav{
    display: flex;
    justify-content: space-evenly;
}
.logo{
    width: 140px    ;
    border-radius: 110px;
}
nav  a{
    text-decoration: none;
    color: black;
    justify-content: space-between;
    margin-top: 60px;
}
.historia{
    padding: 50px;
    width: 500px;  
    border-radius: 10px;
    display: row;
    flex-direction: row;
}
.historia img{
    border-radius: 10px;
}